<div class="row <%= (klass.empty? ? "main" : "children #{klass}") %>" id="form_<%= id %>">
  <%= form_for parent.comments.build, method: :post do |f| %>
    <%= f.hidden_field :parent_id, value: parent.id %>

    <div class="row">
      <div class="large-10 columns">
        <%= f.text_area :content, placeholder: 'Comment Text' %>
      </div>

      <div class="large-2 columns">
        <a href="#" class="button radius submit">Comment</a>
      </div>
    </div>
  <% end %>
</div>
