<ul>
  <% unless parent.id.nil? %>
    <li>
      <strong><%= parent.positions %></strong>
      <em><%= I18n.l parent.created_at, format: :db %></em>
      <%= parent.content %>
      <a href="#" class="button radius tiny reply" data-id="<%= parent.id %>">Reply</a>
      <%= render partial: 'comments/form', locals: {parent: parent, klass: 'hidden', id: parent.id} %>
      <% children = @posts.select{ |c| c.parent_id == parent.id } %>
      <% children.each do |child| %>
        <%= render partial: 'comments/list', locals: {parent: child} %>
      <% end %>
    </li>
  <% end %>
</ul>
