<%= render partial: 'layouts/breadcrumbs', locals: {path: {'Home' => root_path}} %>

<%= render partial: 'layouts/messages' %>

<%= render partial: 'forum_threads/form' %>

<div class="row">
  <%= render partial: 'forum_threads/table' %>
</div>
