.alert-box ul {
  margin-bottom: 0px;
}

.alert-box.error {
	background-color: #c00;
	border-color: #f00;
}

.alert-box.notice {
	background-color: #0c0;
	border-color: #0f0;
}

.alert-box li {
	list-style-type: none;
}