<%= form_for @thread do |f| %>
  <div class="row">
    <div class="large-10 columns">
      <%= f.text_area :content, placeholder: 'Thread Text' %>
    </div>

    <div class="large-2 columns">
      <a href="#" class="button radius submit">Post</a>
    </div>
  </div>
<% end %>