<% if @threads.empty? %>
  No threads yet!
<% else %>
  <table>
    <thead>
      <tr>
        <th width="50">#</th>
        <th>Created at</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
      <% @threads.each do |thread| %>
        <tr>
          <td><%= thread.position %></td>
          <td><%= l(thread.created_at, format: :db) %></td>
          <td><%= link_to thread.content, thread %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @threads, renderer: FoundationPagination::Rails, param_name: 'i' %>
<% end%>
