<%= render partial: 'layouts/breadcrumbs', locals: {path: {'Home' => root_path, "Thread ##{@thread.id}" => @thread}} %>

<div class="row">
  <%= render partial: 'layouts/messages' %>

  <%= render partial: 'comments/list', :locals => {parent: @posts.first} %>

  <%= will_paginate @posts, renderer: FoundationPagination::Rails, param_name: 'i' %>
</div>
