<ul class="breadcrumbs">
  <% path.each do |name, url| %>
    <% klass = name == path.keys.last ? "current" : "" %>
    <li class="<%=klass%>">
      <%= link_to name, url %>
    </li>
   <% end %>
</ul>