<div class="row">
  <% messages_presenter.flashes.each do |type, messages| %>
      <div data-alert class="alert-box <%= type %> radius">
        <ul>
          <% messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>
</div>
